* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.figures {
    position:absolute;
    height:500px;
    left: 27%;
    scale: 1.2;
    top: -10px;
}
.elements {
    scale: 1.2;
    
}
.off_display {
    opacity:0;
}

.ind_3 {
    opacity:0;
}
.on_display {
    opacity:1;
}
